<a href {{action "closeMessage"}} class="close">{{d-icon "close"}}</a>

<h3>{{i18n "perspective.perspective_messages"}}</h3>

<div class="messages">
  <p>{{i18n "perspective.perspective_warning"}}</p>
</div>